<div class="container">
  <div class="row">
    <div class="col-nav nav-pills">
      <nav class="nav justify-content-center|justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tareas" routerLinkActive="active">Tareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactos" routerLinkActive="active">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="libros" routerLinkActive="active">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">Acerca de</a>
        </li>
      </nav>
    </div>
  </div>
</div>
